* {
  box-sizing: border-box;
}

:root {
  --red: red;
  --white: white;
  --blue: blue;
  --yellow: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 100%;
  height: 2em;
  font-size: 22px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#board {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 360px;
  height: 300px;
  margin: 0 auto;
}

.board-cell-outer {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  cursor: pointer;
}

.board-cell-circle,
.red-piece,
.yellow-piece {
  background-color: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.red-piece {
  background-color: var(--red);
}

.yellow-piece {
  background-color: var(--yellow);
}

#initPieces {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* visibility: hidden; */
  height: 50px;
  width: 350px;
  margin: 0 auto;
}

.pieceContainer {
  position: relative;
  height: 50px;
  width: 50px;
}

#board > div:hover {
  border: 2px solid yellow;
}
