* {
  box-sizing: border-box;
}

:root {
  --red: red;
  --white: white;
  --blue: blue;
  --yellow: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.red {
  color: var(--red);
}
.yellow {
  color: var(--yellow);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* player input */

.playerInfoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 1px solid black;
  border-radius: 5px;
}

.playerInfoCard:last-of-type {
  margin-top: 2em;
}

.labelAndIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

label {
  text-align: left;
  width: 100%;
  color: grey;
}

label:nth-child(1) {
  margin-bottom: 0.3em;
}

label:nth-child(2) {
  font-size: 12px;
  padding-left: 0.3em;
}

i {
  transform: scale(0.65) translateY(56px);
}

.textInput,
.textInputComputer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  height: 2.4em;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0.2em;
  vertical-align: middle;
  padding: 0.5em;
  overflow: scroll;
}

.playAsComputerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1em;
  padding-left: 0;
}

input[type="checkbox"] {
  border: transparent;
}

.playBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.playBtnContainer button {
  height: 2em;
  width: 150px;
  border-radius: 5px;
  border: transparent;
  background-color: var(--blue);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 4px 4px 0px rgb(104, 191, 248);
  cursor: pointer;
}

button.playBtn {
  background-color: var(--blue);
  box-shadow: 4px 4px 0px rgb(104, 191, 248);
}

button.readyBtn {
  background-color: green;
  box-shadow: 4px 4px 0px lightgreen;
}

#startGameBtn,
#playAgainBtn {
  width: 100%;
  border: transparent;
  background-color: green;
  height: 2em;
  font-size: 22px;
  color: white;
  border-radius: 5px;
  margin: 1em 0;
  cursor: pointer;
  visibility: hidden;
  box-shadow: 4px 4px 0px lightgreen;
}

#playAgainBtn {
  color: white;
  background-color: black;
  box-shadow: 4px 4px 0px lightblue;
  width: 365px;
  font-size: 18px;
  padding: 0.5em 1em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playAgainBtn:hover {
  background-color: white;
  color: black;
  box-shadow: 4px 4px 0px black;
}

/* board */

#board {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 375px;
  height: 300px;
  margin: 1em auto;
}

.board-cell-outer {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  cursor: pointer;
}

.board-cell-circle,
.red-piece,
.yellow-piece {
  background-color: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.red-piece {
  background-color: var(--red);
}

.yellow-piece {
  background-color: var(--yellow);
}

.pieceContainer {
  position: relative;
  height: 50px;
  width: 50px;
}

.column {
  border: 1px solid var(--blue);
}

.column:hover {
  border-left: 1px solid var(--yellow);
  border-right: 1px solid var(--yellow);
}

/* turn */

#whoseTurn {
  width: 365px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1em;
  color: white;
}

#whoseTurn > span {
  margin: 0.5em;
}
